$color: red

a
  color: inherit
  text-decoration: none

div
  color: black
  line-height: 150%
  margin: 15px 0px
  padding-bottom: 5px
  text-align: center

strong
  color: green

.alert
  margin: 15px 0px
  padding: 15px
  border: 1px solid #d6e9c6
  border-radius: 4px
  color: #3c763d
  background-color: #dff0d8
  text-align: center

  // &-red
  //   color: red

.button
  display: flex
  justify-content: center

button
  color: green
  text-transform: uppercase


.fly
  margin: 15px 0px
  padding: 15px
  border: 1px solid #d6e9c6
  border-radius: 4px
  color: #10529c
  background-color: #c9dffd
  text-align: center
  text-transform: uppercase

.halloween
  display: none

.halloween.open
  display: block
