$color-main: #60BBFD
$color-black: #333333
$color-grey_light: #FDFDFD
$color-grey_border: #F1F1F1
$color-white: #fff

$font-family: 'Montserrat', sans-serif

$font-h1: 40px/48px $font-family
$font-h2: 24px/29px $font-family
$font-body_regular: 16px/20px $font-family

$font-logo: 24px/29px $font-family
$font-lable: 12px/15px $font-family
$font-button: 16px/20px $font-family
$font-tabs: 24px/29px $font-family


html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100%


body
  overflow-x: hidden
  background-color: $color-grey_light


body *
  box-sizing: border-box


a
  color: inherit
  text-decoration: none


ul, li, button
  list-style: none


button
  border: none
  background-color: transparent
  cursor: pointer
  padding: 0


img
  box-sizing: border-box


a, h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0
  border: none


.Header
  height: 80px
  background-color: $color-main
  display: flex
  justify-content: space-between
  align-items: center
  color: $color-white
  padding: 16px 40px

  .Logo
    display: flex
    align-items: center
    font: $font-logo
    font-weight: 700

    img
      margin-right: 16px

  & > p
    font: $font-body_regular
    font-weight: 700


.Main
  max-width: 1600px
  margin: 0px auto
  display: flex
  flex-direction: column
  align-items: center

  h1
    font: $font-h1
    color: $color-black
    margin: 40px 24px 32px 24px
    text-align: center


#tabsWithGallery
  display: flex
  flex-direction: column
  align-items: center

  .Tabs
    display: flex
    flex-wrap: wrap
    align-items: center

    .Tab
      font: $font-button
      color: $color-black
      background-color: $color-white
      border: $color-grey_border solid 2px
      border-radius: 25px
      padding: 12px 24px
      cursor: pointer

      &:not(:last-child)
        margin-right: 16px

      &_active
        border-color: $color-main;


  .Gallery
    position: relative
    display: flex
    flex-direction: column
    margin-top: 32px
    width: 640px

    &-Slides
      position: relative
      top: 0px
      left: 0px
      width: 640px
      height: 640px
      max-width: 100%

    &-Slide
      position: absolute
      width: 100%
      height: 100%
      z-index: 0;
      opacity: 0;
      transition: all 500ms

      img
        border-radius: 16px

      &_active
        z-index: 111;
        opacity: 1;

    .Thumbs
      max-width: 100%
      margin-top: 32px
      overflow-x: hidden
      transform: translateX()

      .Thumbs-Wrapper
        display: flex
        width: 100%

        .Thumb
          flex-shrink: 0
          width: 92px
          height: 92px
          cursor: pointer
          border: 3px solid transparent
          border-radius: 8px
          overflow-x: hidden
          overflow-y: hidden

          img
            width: 100%
            height: 100%

          &:not(:first-child)
              margin-left: 17.6px

          &_active
            border-color: $color-main

    .Arrow
      position: absolute
      cursor: pointer

      path
        fill: $color-main

      &_previous
        top: 296px
        left: -80px
        transform: translateX(-100%)

      &_next
        top: 296px
        right: -80px
        transform: translateX(100%)


